div#bookmark{
	img{
		width: 6em;
		height: 17em;
		margin-bottom: -31em;
		margin-left: 5em;
	}
}

h2#title{
	text-transform: uppercase;
	font-family: serif;
	width: 1100px;
	margin: 0 auto;
	background-color: #e8e8e8;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 4.1em;
	margin-bottom: 15px;
	box-shadow: .5px .5px .5px .5px;
}

div.col-md-3.one{
	z-index: 1;
	margin-left: 11em;
	width: 250px;
	h3{
		padding-left: 1.5em;

	}
	ul{
		li{
			list-style-type: upper-roman;
			font-size: 10px;
			padding-top: 3px;

		}
	}
}

div.col-md-3.two{
	z-index: 1;
	width: 250px;
	h3{
		padding-left: 1.5em;

	}
	ul{
		li{
			list-style-type: upper-roman;
			font-size: 10px;
			padding-top: 3px;

		}
	}
}

div.col-md-3.three{
	z-index: 1;
	width: 250px;
	h3{
		padding-left: 1.5em;

	}
	ul{
		li{
			list-style-type: upper-roman;
			font-size: 10px;
			padding-top: 3px;

		}
	}
}

div.col-md-3.four{
	z-index: 1;
	width: 250px;
	h3{
		padding-left: 1.5em;

	}
	ul{
		li{
			list-style-type: upper-roman;
			font-size: 10px;
			padding-top: 3px;

		}
	}
}
