
		
		.nav{

			ul#mainnav{
				text-align: center;
				height: 30px;
				background-color: #054f86;
				margin-bottom: 2.3em;
				padding-left: 0;
				box-shadow: -.2px 2.5px 5px;
				li{
					vertical-align: -webkit-baseline-middle;
					color: white;
					text-transform: uppercase;
					font-family: 'Open Sans';
					font-weight: 800;
					padding-right: 20px;
					padding-left: 20px;
					padding-top: 5px;
					padding-bottom: 6px;
				}
			}

			ul#secnav{
				font-family: 'Open Sans';
				height: 30px;
				background-color: #e8e8e8;
				margin-bottom: 0;
				padding-left: 0;
				text-align: left;
				padding-left: 50px;
				padding-top: 5px;
				li{
					color: #2989c8;
					font-weight: 600;
					font-size: 13px;
					img#twittericon{
						margin-right: 3.8em;
						margin-top: -.2em;
						padding-top: .09em;
					}
					img#facebookicon{
						height: 1.8em;
						float: right;
						margin-right: .5em;
						padding-top: .1em;
						padding-bottom: .07em;
						margin-top: -.07em;
					}
					img#youtubeicon{
						height: 2.07em;
						float: right;
						margin-right: .3em;
						margin-top: -.12em;
					}
				}
			}

			div#welcome{
				font-size: 30px;
				border-top: 2px solid #00456e; 
				height: 60px;
				text-align: center;
				padding-top: 15px;
				font-family: serif;
				color: #00456e;
				font-weight: 800;
			}

			div#currentdate{
				text-align: center;
				padding-bottom: 1em;

				span{
				}
			}
		}

		.nav-edit{
			
				ul#mainnav{
					position: fixed;
					width: 88.85%;
					margin: 0 auto;
					margin-top: -13.5em;

				}
				div#buffer{
					margin-bottom: 4.6em;
				}
		}



			/*ul{
				text-align: center;
*/
				

				li{
					display: inline;
					padding-right: 2em;

				}
			/*}*/
		