body{
	background-color: #f2f2f2;
	div#wrapper{
		background-color: white;
		height: 100vh;
		width: 1070px;
		margin: 0 auto;

		ul#mainnav{
			text-align: center;
			height: 30px;
			background-color: #054f86;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 3em;
			padding-left: 0;
			li{
				vertical-align: -webkit-baseline-middle;
				color: white;
				text-transform: uppercase;
				font-family: 'Open Sans';
				font-weight: 800;
				padding-right: 20px;
				padding-left: 20px;
				padding-top: 5px;
				padding-bottom: 6px;
			}
		}

		ul#secnav{
			font-family: 'Open Sans';
			height: 30px;
			background-color: #e8e8e8;
			margin-bottom: 0;
			padding-left: 0;
			text-align: left;
			padding-left: 50px;
			padding-top: 5px;
			li{
				color: #2989c8;
				font-weight: 600;
				font-size: 13px;
			}
		}

		div#welcome{
			font-size: 32px;
			border-top: 2px solid #00456e; 
			height: 60px;
			text-align: center;
			padding-top: 15px;
			font-family: serif;
			color: #00456e;
			font-weight: 800;
		}

		div#currentdate{
			padding-bottom: 1em;
			span#spanDate{
				margin-left: 34.5em;
			}
		}

		ul{
			text-align: center;

			

			li{
				display: inline;
				padding-right: 3em;

			}
		}

		ul.post-list{
			width: 60%;
			height: 25em;
			text-align: left;
			float: right;
			padding-left: 0;
			margin-top: 0.5em;

			a.post-link{
				color: black;
				font-size: 0.6em;
			}

			li{
				h2{

					margin-bottom: 0;
					margin-top: -0.5em;
					border-radius: 5px;
					width: 12.13em;
					background-color: #f2f2f2;
					padding-left: 6px;
					padding-top: 0.6em;
				}
				span.post-meta{
					float: right;
					margin-right: 1.5em;
					margin-top: 1em;
				}
				p{
					font-size: 13px;
					margin-right: 3em;
					margin-bottom: 0.1em;
					border-radius: 3px;
					background-color: #f2f2f2;
					width: 27.98em;
					padding-left: 8px;
					padding-right: 8px;
					padding-bottom: 25px;
					padding-top: 5px;


				}
			}
		}

		div#bookcover{
			height: 30em;
			width: 35%;
			margin-left: 3em;

			img{
				height: 31.3em;
				width: 22em;
				box-shadow: 1px 1px 10px black;

			}
			p{
				height: 30px

			}
		}

		div#blogboard{
			border-radius: 5px;
			height: 31.3em;
			width: 45em;
			margin-right: 3em;
			float: right;
			background-color: #e8e8e8;
				h1#praise{
					color: white;
					font-size: 1.6em;
					width: 35%;
					height: 5em;
					float: left;
					margin: 12px;
					border-radius: 3px;
					padding-top: 1.3em;
					padding-left: 0.4em;
					background-color: #065183;
				}

				div#twitter{
					width: 35%;
					height: 4em;
					float: left;
					margin: 12px;
					margin-top: 0px;
					border-radius: 3px;
					background-color: #313c5e;
						ul{
							display: inline;
							padding-left: 1em;
							li{
								padding-right: 0;
								img#twitterlogo{
									height: 2.5em;
								}
								img#youtubelogo{
									height: 3.5em;
								}
							}
						}

				}

				div#buythebook{

					color: white;
					text-align: center;
					font-size: 1.4em;
					width: 35%;
					height: 1.5em;
					float: left;
					margin: 12px;
					margin-top: 0px;
					border-radius: 3px;
					background-color: #313c5e;
				}

				div#pagination{
					height: 3em;
					width: 57.7%;
					float: right;
					background-color: #f2f2f2;
					border-radius: 3px;
					margin-right: 1em;
					margin-top: 1.2em;

				}
		}

	}
}