		div#whatpeoplesay{
			height: 34.4em;
			width: 15em;
			background-color: #e8e8e8;
			float: right;
			h4#praise{
					font-family: 'Open Sans';
					text-align: center;
					color: white;
					height: 4em;
					float: left;
					margin: 12px;
					border-radius: 3px;
					padding-top: 1em;
					background-color: #013756;
					margin-bottom: 6px;
					margin-top: 15px;
					margin-right: 0em;
					padding: 15px;
			}
			div#quote1{
					width: 14.1em;
					height: 15.18em;
					float: left;
					border-radius: 3px;
					padding: .7em;
					padding-top: 15px;
					background-color: #d1d1d1;
					margin-bottom: 6px;
					margin-right: 0em;
					margin-left: 12px;
					p{
						font-weight: bold;
						font-size: 11px;
						font-family: 'Open Sans';
						span{
							font-weight: normal;
							font-size: 13px;

						}
					}
			}
			div#quote2{
					width: 14.1em;
					float: left;
					border-radius: 3px;
					padding: .7em;
					padding-top: 20px;
					background-color: #d1d1d1;
					margin-bottom: 6px;
					margin-right: 0em;
					margin-left: 12px;

					p{
						font-weight: bold;
						font-size: 11px;
						font-family: 'Open Sans';
						span{
							font-weight: normal;
							font-size: 12px;

						}
					}
			}
		}