@font-face {
  font-family: oswaldLight;
  src: url(/BrianCathcart/fonts/Oswald-Light.ttf); }

@font-face {
  font-family: oswaldRegular;
  src: url(/BrianCathcart/fonts/Oswald-Regular.ttf); }
div#wrapper{
	
	div#nav{

		width: 900px;
		/*height: 75px;*/
		height: 85px;
		margin: 0 auto;
		h1{
			padding-bottom: .5em;
			margin-top: 0;
			padding-top: .5em;
			margin-left: 20px;
			font-family: oswaldRegular;
			margin-bottom: 0;
			a{
				color: #757272;
			}
			a#black{
				color: black;
			}
			span{
				color: #757272;
				font-family: oswaldLight;
			}

		}
		ul.shortcut{
			padding-left: 0;
			margin-left: 20px;
			margin-bottom: 0;
			font-family: oswaldLight;
			li{
				display: inline;
				padding-right: 2px;
				a{
					color: black;
				}
			}
			li#back{
				font-family: oswaldRegular;
			}
		}
		
	}
	div.scroller-holder{
			margin-bottom: 1em;
			margin-left: 1.45em;
			border-bottom: 1px solid #999999;

			img.scroller{
				height: 3.5em;
				display: block;
				margin: auto;
				margin-bottom: 1em;

		}
	}

	div.intro{
		padding-top: 1em;
		width: 900px;
		margin: 0 auto;
		overflow: hidden;
		font-family: 'Open Sans';
		h4{
			margin-left: 20px;
		}
		p{
			margin-left: 20px;
			text-align: justify;
		}
	}

		div.intro-edit{
		width: 900px;
		height: 75px;
		margin: 0 auto;
		overflow: hidden;
		font-family: 'Open Sans';
		h4{
			margin-left: 20px;
		}
		p{
			margin-left: 20px;
		}
	}







	div.row{
		text-align: center;
		ul{
			margin-bottom: 0;
			display: inline-flex;
			height: 295px;
			list-style-type: none;

			li{

				font-size: 10px;
				text-align: justify;
				
				margin-right: 2em;
				height: 290px;
				width: 280px;
				overflow: hidden;
				p{
					font-weight: 600;
				}
				img{
					height: 305px;
					/*height: 313px;*/
				}
			}

			li:hover{
				cursor: pointer;
				img{
					opacity: .8;

				}
			}
		}
	}

	div.title{
		padding-bottom: 3em;
		text-align: center;
		ul{
			margin-bottom: 0;
			display: inline-flex;
			height: 15px;
			list-style-type: none;
			li{
				color: #888888;
				font-weight: 600;
				font-family: 'Open Sans';
				margin-right: 2em;
				height: 15px;
				width: 270px;
			}
		}
	}

	div.read-the-myth{
		height: 325px;
		overflow: auto;
		width: 900px;
		margin: 0 auto;
		text-align: justify;
		margin-top: 2em;
		padding-left: 1.5em;
	}

	div.roworth{
		height: 325px;
		overflow: auto;
		width: 900px;
		margin: 0 auto;
		text-align: justify;
		margin-top: 2em;
		padding-left: 1.5em;
	}

	div.urban-legends{
		height: 325px;
		overflow: auto;
		width: 900px;
		margin: 0 auto;
		text-align: justify;
		margin-top: 2em;
		padding-left: 1.5em;
	}
	div#box{
		max-height: 325px;
		overflow: auto;
		width: 900px;
		margin: 0 auto;
		text-align: justify;
		margin-top: 2em;
		padding-left: 1.4em;
	}
}