		div#dispatchvideo{
			height: 650px;
			background-color: white;
			div#the-dispatch{
				background-color: #d1d1d1;
				margin: 0 auto;
				height: 100%;
				margin-left: 2em;
				margin-right: 2em;
							div#the-dispatch-inner{
				width: 800px;
				height: inherit;
				margin: 0 auto;
				background-color: white;
				}			

			}

		}