<head>
	<link rel='stylesheet' href='/BrianCathcart/css/about-the-book.css'>
</head>
<div id='bookmark'><img src='/BrianCathcart/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>About the book</h2>
<img id='crown' src='/BrianCathcart/imgs/Crown.png'>

<p class='content'>The defeat of Napoleon Bonaparte at Waterloo in 1815 was the most momentous news to reach British shores in the whole of the nineteenth century and also the last really important news to arrive without the assistance of technologies such as steam power or the electric telegraph. </p>

<p class='content'>It took more than three days to travel to London in a form that people could trust – that’s an average speed of three miles per hour. </p>

<p class='content'>THE NEWS FROM WATERLOO is the story of the message, the people and the journey. It is a tragicomic midsummer’s tale that begins amidst terrible carnage and weaves through a world of politics and war, enterprise and roguery, frustration, confusion, doubt and jealousy. </p>

<p class='content'>Along the way it considers the journalism of the time, the roads and carriages, high finance and high society. The cast includes a blue-blooded major with a secret, a Jewish banker wrapped in mystery, a Green Knight, a Black Prince, a tearful damsel abandoned at a ball, a half-mad editor of the Times, a reckless Essex smuggler, a desperately anxious Cabinet and an all-important messenger known only as Mr C of Dover. </p>

<p class='content'>The climax brings us to the heart of Regency high society at the summit of the social season in London, with the breathless message: ‘Victory, sir! Victory!’</p>

<p class='content'>To whet your appetite, here are five striking facts from THE NEWS FROM WATERLOO:</p>
<br>
<br>
<ol id='facts'>
<li>1. A remarkable 56 newspapers were regularly published in London in 1815, yet not one of them sent a reporter to the continent to report the Waterloo campaign.</li>

<li>2. A technology existed in 1815 which could transmit messages over hundreds of miles in a period of minutes, but the British government had mothballed the service to save money.</li>

<li>3. The Duke of Wellington, a married man, reported the victory to the married lady with whom he was smitten at the time before he reported it to the British government. (His relationship with her was later the subject of a libel case.)</li>

<li>4. The official messenger completed the last 15 miles of his sea crossing from Belgium in a small rowing boat with four sailors pulling at the oars.</li>

<li>5. Steam-powered transport arrived just too late. On the very day the newspapers carried the news courtesy of those four sailors rowing in the Channel, they also carried advertisements for a brand-new steam ferry service operating from London.</li>
</ol>
<br>
<br>