      <head>
        <link rel='stylesheet' href='/BrianCathcart/css/blogBoard.css'>
      </head>

      <div id='blogboard'>
          
          
      {% include blog.html %}

          <div id='hughimg'>
            <img src='/BrianCathcart/imgs/Optimized-Hugh_studio.jpg' alt='hugh'>
          </div>
          <div id='hughvideo'>
            <span id='click'>Click below</span> to hear Hugh Grant read Wellington's famous Waterloo Dispatch
            <div id='scrolldown'>
            <a href='#linc'><img src='/BrianCathcart/imgs/scroll-round.png' alt='scroll-down'></a>
      </div>
          </div>

          
          <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
              <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
              <span class="next ">Next</span>
            {% endif %}
          </div>
          <!--<div id='pagination'>
            <img src='/imgs/pagination.png'>
          </div>-->
      </div>
