      <head>
        <link rel='stylesheet' href='/css/blogBoard.css'>
      </head>

      <div id='blogboard'>
          
          
      {% include blog.html %}

          <div id='hughimg'>
            <img src='/imgs/Hugh_studio.jpg' alt='hugh'>
          </div>
          <div id='hughvideo'>
            <span id='click'>Click below</span> to hear Hugh Grant read Wellington's famous Waterloo Dispatch
          </div>
          <div id='pagination'>
            <img src='/imgs/pagination.png'>
          </div>
      </div>
