<head>
	<link rel='stylesheet' href='/BrianCathcart/css/buy-the-book.css'>
</head>
<div id='bookmark'><img src='/BrianCathcart/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Buy the book</h2>

<div id="bookcover">
	<img alt='bookcover' src='/BrianCathcart/imgs/News From Waterloo cover small.jpg'>
</div>

<div id='quotes' style='float: right;'>
	<p id='description'>A 'vastly entertaining' new book by the award-winning author of <span>The Fly in the Cathedral</span>, <span>The Case of Stephen Lawrence</span> and <span>Were You Still Up for Portillo?</span></p>

	<ul>
		<li><p style='font-size: 13px;'>'Brian Cathcart's vastly entertaining narrative marries the scepticism of an investigative journalist with a dramatist's gift for suspense. Four desperate men rowing a boat in the open sea! Post-chaises thundering along the country roads! How dull by comparison are our smug digital days where news comes - and goes - at the speed of light' </p>
		<p class='author'>- Harold Evans, newspaper editor and author.</p></li>
		<li><p style='font-size: 13px;'>'A fascinating eye-opener into one of the most significant moments in British history, well researched and written in an exuberant style'</p>
		<p class='author'>- Tony Robinson, actor, author and presenter of TV's Time Team.</p></li>
	</ul>
</div>