<head>
	<link rel='stylesheet' href='/BrianCathcart/css/contact.css'>
</head>
<div id='bookmark'><img src='/BrianCathcart/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Contact</h2>

<div id='form'>
	<p style='margin-top: 3em;'>Your Name (required)</p>
	<input class="textbox"type="text"> 
	<br><br> 
	<p>Your Email (required)</p>
	<input class="textbox"type="text"> 
	<br><br> 
	<p>Subject</p>
	<input class="textbox"type="text">
	<br><br>
	<p>Your Message</p>
	<input class="textbox"type="text" style='height: 225px; width: 450px; margin-bottom: 3em;'>

</div> 