<head>
	<link rel='stylesheet' href='/BrianCathcart/css/cover.css'>
</head>

<div id='retailers'>

	<ul>
		<li><img id='order' src='/BrianCathcart/imgs/OrderNow_button.png' alt='faber'></li>
		<li><a href='https://www.waterstones.com/book/the-news-from-waterloo/brian-cathcart/9780571315253'><img id='waterstones' src='/BrianCathcart/imgs/waterstones.png' alt='waterstones'></a></li>
	</ul>

	<ul>
		<li><a href='http://www.faber.co.uk/shop/history/9780571315253-the-news-from-waterloo.html'><img id='faber' src='/BrianCathcart/imgs/faber&faber.png' alt='faber'></a></li>
		<li><a href='http://www.amazon.co.uk/dp/0571315259'><img id='amazon' src='/BrianCathcart/imgs/Amazon.png' alt='amazon'></a></li>
	</ul>
</div>
<div id="bookcover">
	<img alt='bookcover' src='/BrianCathcart/imgs/News From Waterloo cover small.jpg'>
</div>