<head>
	<link rel='stylesheet' href='/css/events.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Events</h2>

<ul id='events' style='margin-bottom: 10em;'>
	<li><p><span>Saturday 2 May:</span> I will be speaking at the Stratford-upon-Avon Literary Festival at 

5.30pm, on the subject of 'The News From Waterloo'. The venue is Stratford Arts 

House, Rother Street, CV37 6LU. Tickets are £10. <a href='http://stratfordartshouse.co.uk/whats-on/event/brian-cathcart-news-

waterloo/'>Click here</a> for bookings. The phone number is 01789 207100.</p></li>
	<li><p><span>Wednesday 13 May:</span> at 6.30pm in Muswell Hill Bookshop, 72 Fortis Green Road, 

London N10 3HN. I will talk about 'The News From Waterloo’. There is no charge. 

www.muswellhillbookshop.com.</p></li>
	<li><p><span>Saturday 6 June:</span> I will be speaking about the book at the Wordswoth Trust’s

Jerwood Centre in Grasmere, Cumbria, as part of their ‘Wordsworth, War and 

Waterloo Day’. I’m one of four speakers (<a href='https://wordsworth.org.uk/attend-events/2015/06/06/wordsworth-war-and-waterloo-

day.html'>see here</a>) 

 and the charge for the day is £25.</p></li>
</ul>