<head>
	<link rel='stylesheet' href='/BrianCathcart/css/rothschild.css'>
</head>

<div class='story'>
		<h3>Read the myth</h3>

		<p>The Rothschild-Waterloo myth first gained wide currency thanks to this French pamphlet of 1846 appears to have set the ball rolling:Satan (Georges Dairnvaell) (1846) Histoire Edifiante et Curieuse de Rothschild 1er, Roi des Juifs, Paris. PP11-12.In the century and a half since then it has assumed many forms and has been repeated by a great variety of writers in very different kinds of publication. Here is a selection. (If you know of others, and I know there are many more, please let me know through the Contact page of this website.) Note: It’s worth stressing that while the myth and its propagation owe a good deal to anti-Semitism, many of these writers have had no such
		motivation.</p>
</div>