<head>
	<link rel='stylesheet' href='/BrianCathcart/css/rothschild.css'>
</head>

<div class='story'>
		<h4 style='margin-top: 2em;'>Read the myth</h4>

		<p style='padding-bottom: 3em;'>The Rothschild-Waterloo myth first gained wide currency thanks to this French pamphlet of 1846 appears to have set the ball rolling:Satan (Georges Dairnvaell) (1846) Histoire Edifiante et Curieuse de Rothschild 1er, Roi des Juifs, Paris. PP11-12.In the century and a half since then it has assumed many forms and has been repeated by a great variety of writers in very different kinds of publication. Here is a selection. (If you know of others, and I know there are many more, please let me know through the Contact page of this website.) Note: It’s worth stressing that while the myth and its propagation owe a good deal to anti-Semitism, many of these writers have had no such
		motivation.</p>

		<h4>Histories of the Rothschilds</h4>
		<ul>
			<li>Ferguson, N. (1998) The House of Rothschild vol 1: Money’s Prophets 1798-

1848 Penguin London Pp 98-9</li>
			<li>Gille, B. (1965) Histoire de la Maison Rothschild vol I Des Origines a 1848.

Droz, Geneva. P56.</li>
			<li>‘Rothschild’, by Eugene de Mirecourt, in Portraits et Silhouettes au XIXeme 

siècle (1870) Paris Librairie des Contemporains v103 p16.</li>
			<li>Demachy, E. (1896) Les Rothschild: Une famille de financiers juifs au XIX 

siècle v1, Paris, pp65-85.</li>
			<li>Reeves, J. (1887) The Rothschilds: the financial rulers of nations, John Murray, 

London, p 169 et seq</li>
			<li>Balla, I. (1913) The Romance of the Rothschilds London, Eveleigh Nash pp88-

93.</li>
			<li>Corti, Count E.C. (1928) The Rise of the House of Rothschild London, Gollanz.

Pp178-9</li>
			<li>Magid, 6 April 1868. A translation appears in Rothschild, V. (see below)</li>
			<li>Davis, R. (1983) The English Rothschilds Collins, London.  P35.</li>
			<li>Wilson, D. (1995, revised ed) Rothschild: A Story of Wealth and Power.

London, Mandarin. P58.</li>
			<li>(It’s worth mentioning two books that challenged the myth:</li>
			<li>Rothschild, Baron V. (1982) The Shadow of a Great Man New Court, London</li>
			<li>Kaplan, H.K. (2006) Nathan Mayer Rothschild and the Creation of a Dynasty 

1806-1816 Stanford University Press pp 144- 7.)</li>
		</ul>

		<h4>Reference works</h4>
		<ul>
			<li>Encyclopaedia Britannica, 11th ed., vol XX111 Cambridge University Press, 

Cambridge. P.758</li>
			<li>Encyclopaedia Americana (1977) New York, Americana Corp. vol 23, p717.</li>
			<li>Dictionary of National Biography (1897).</li>
		</ul>

		<h4>Books of business history</h4>
		<ul>
			<li>Martin, F (1865) Stories of Banks and Bankers. London, Macmillan, pp73-6.</li>
			<li>Noel-Fearn, H (1866) The Money Market. London, Warne & Co, p191.</li>
			<li>Ferguson, N. (2008). The Ascent of Money: A Financial History of the World.

London, Allen Lane. Pp84-87;</li>
			<li>Bookstaber, R. (2007) A Demon of Our Own Design: Markets, Hedge Funds, 

and the Perils of Financial Innovation. Wiley, New Jersey pp 88-90;</li>
			<li>Bernstein, W.J. (2004) The birth of plenty: how the prosperity of the modern 

world was created in London, McGraw-Hill p181;</li>
			<li>Levine, A. (2000) Case studies in Jewish business ethics Library of Jewish law 

and ethics vol 22. Hoboken, NJ, KTAV publishing pp 160-3</li>
		</ul>

		<h4>Others</h4>
		<ul>
			<li>Dulles, Allen (1963) The Craft of Intelligence New York, Harper and Row</li>
			<li>Colby, R. (1965) The Waterloo Despatch London, HMSO.</li>
			<li>(1865) The Christian Miscellany and Family Visiter, 2nd Series, Volume 11, 

London, Wesleyan Conference Office.  p115.</li>
			<li>Longford, E. (1972) Wellington: Pillar of State. Weidenfeld & Nicholson, 

London. pp7-8;</li>
			<li>Muir, R. (1996) Britain and the Defeat of Napoleon 1807-1815. Yale University 

Press;</li>
			<li>Thompson, N. (1999) Earl Bathurst and the British Empire 1762-1834. Cooper,

Barnsley. P97.</li>
			<li>Quinn, H. (2010) Dr Darwin’s Waterloo Pigeon. Oxfordshire, Writersworld.</li>
			<li>Faulks, S. (2009) A Week in December. Vintage, London</li>
			<li><a href='http://www.biblebelievers.org.au/slavery.htm;'>http://www.biblebelievers.org.au/slavery.htm;</a></li>
			<li><a href='http://www.modernhistoryproject.org/mhp/ArticleDisplay.php?Article=FinalWa

rn01-4;'>http://www.modernhistoryproject.org/mhp/ArticleDisplay.php?Article=FinalWa

rn01-4;</a></li>
			<li style='padding-bottom: 2em;'><a href='http://www.theforumsite.com/forum/topic/Rothschild-Bought-Britain-During-

the-Battle-of-Waterloo/191792;'>http://www.theforumsite.com/forum/topic/Rothschild-Bought-Britain-During-

the-Battle-of-Waterloo/191792;</a></li>
		</ul>
</div>