<head>
<link rel='stylesheet' href='/css/footer.css'>
</head>

<ul id='footer'>
  <li>E-references</li>
  <li>More stories</li>
  <li>Rothschild</li>
  <li>Historic newspapers</li>
  <li>Help the research</li>

  <li><img id='twittericon' src='/imgs/Twitter-icon.png' alt='twitter' style='height: 2em;
  float: right;'>
  </li>

  <li><img id='facebookicon' src='/imgs/facebook-icon.png' alt='facebook' style='height: 1.8em;
  float: right;'>
  </li>

  <li><img id='youtubeicon' src='/imgs/youtube.png' alt='youtube'>
  </li>

  
  <li><img src='/imgs/mail.png' alt='email-icon' style='height: 17px;
  float: right;
  margin-right: 40px;
  padding-top: 2px;'></li>
  <li style='float: right; padding-right: 10px;'>Contact</li>


</ul>

