<head>
  <link rel='stylesheet' href='/css/header.css'>
</head>


<div class='nav'>  
  <ul id='secnav'>
    <li>E-references</li>
    <li>More stories</li>
    <li><a href='rothschild.html'>Rothschild</a></li>
    <li>Historic newspapers</li>
    <li>Help the research</li>

    <li><img id='twittericon' src='/imgs/Twitter-icon.png' alt='twitter' style='height: 2em;
    float: right;'>
    </li>

    <li><img id='facebookicon' src='/imgs/facebook-icon.png' alt='facebook' style='height: 1.8em;
    float: right;'>
    </li>

    <li><img id='youtubeicon' src='/imgs/youtube.png' alt='youtube'>
    </li>

    
    <li><img src='/imgs/mail.png' alt='email-icon' style='height: 17px;
    float: right;
    margin-right: 40px;
    padding-top: 2px;'></li>
    <li style='float: right; padding-right: 10px;'>Contact</li>


  </ul>

  <div id="welcome">
   The News From Waterloo -
   published by Faber & Faber,

  </div>

  <div id='currentdate'>
    <!--<span id="spanDate"></span>-->
    <span>30 April 2015</span>
  </div>
  <div id='buffer'></div>

  <ul id='mainnav'>
    <li style='background-color: #00456e;'><a href='index.html'>Home</a></li> 
    <li><a href='about-the-book.html'>About the book</a></li>
    <li><a href='read-a-chapter.html'>Read a chapter</a></li>
    <li><a href='waterloo-dispatch.html'>The Waterloo Dispatch</a></li>
    <li><a>Buy the book</a></li>
    <li><a>The author</a></li>
    <li><a>Events</a></li>
  </ul>
</div>




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/date.js"></script>
<script src='js/headercollapse.js'></script>


