<head>
	<link rel='stylesheet' href='/css/henry.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Henry percy – <span style='text-transform: capitalize !important;'>Wellington's</span> <span style='text-transform: lowercase !important;'>messenger<span></h2>
<div id='percy'>
<div id='hpimg'>	
	<img src='/imgs/Henry Percy smaller.jpg' alt='henry-percy'>
	<p id='copyright'>‘Copyright Archives of the Duke of Northumberland’.</p>
</div>
<p style='text-indent: 0 !important; margin-top: 1em;'>The officer chosen to deliver the Waterloo Dispatch to London after Waterloo was Major the Hon. Henry Percy, a tall, dark, handsome and charming aide de camp to the Duke of Wellington. Despite a grand pedigree – he was an old Etonian, the son of the Earl of Beverley and the grandson of the Duke of Northumberland – surprisingly little is known about Percy, but here are some of the recorded facts:</p>

	<ol>
		<li>Before serving under Wellington, Percy had been aide de camp to Sir John Moore, and after the general’s death in battle in 1809 he took part in his funeral, an event immortalised in Wolfe’s poem,The Burial of Sir John Moore at Corunna.</li>
		<li>Percy went on to fight under Wellington in Spain and Portugal, but was captured

in 1810 and spent the next four years as a prisoner of war in France.</li>
		<li>His name appears on the guest list of the famous ball given by the Duchess of

Richmond in Brussels on the night of 15 June 1815, when Wellington learned 

that Napoleon had launched his attack into Belgium.</li>
		<li>Percy family tradition says that as he left the ball a woman admirer gave him a

velvet sachet, or pouch, as a token of affection, and that he carried Wellington’s 

dispatch in this sachet on the journey.</li>
		<li>Henry Percy was at the Duke’s side – and therefore under fire – at Waterloo,

and at one stage his horse was killed under him.</li>
		<li>He was one of just three members of Wellington’s personal staff who was

uninjured after the battle.</li>
		<li>Though he was fit at the time, Percy had already suffered the first bouts of a

mysterious illness that would force him to abandon his military career a few 

years later and would cause his death in 1825 at the age of 39.</li>
		<li>Percy carried a tiny red diary on his famous journey to England, but nothing in it

explains why he took almost a whole day to cover the first 75 miles to Ostend – 

equivalent to walking pace.</li>
		<li>Upon delivering the dispatch in London Percy was immediately raised in rank to

Colonel, though this came as no surprise to him because such promotions were 

traditional for bearers of important dispatches.</li>
		<li>At the time of Waterloo Percy was the father of two illegitimate sons, born to

a French mother while he was a prisoner in France, and the older of these boys 

went on to be Major-General Sir Henry Marion Durand.</li>
	</ol>
</div>