<head>
	<link rel='stylesheet' href='/BrianCathcart/css/hist.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Historic Newspapers</h2>
<div id='hist'>
<p>Newspapers were an essential source of information for The News From 

Waterloo. They provided information that was essential in constructing the 

narrative – the Daniel Sutton story is reconstructed almost entirely from 

newspaper reports. They shed light on London’s mood in that June week – 

see the Morning Herald’s description of crowds in the streets, or the tale of 

the Cranbourn announcement in Covent Garden. And they added colour – 

see the Courier’s description of the captured eagles, or the Post’s catalogue 

of Wednesday’s social events. A good deal of other valuable evidence turned 

up thanks to searches ranging across papers from the whole of the 19th 
century, and more recently.</p>
<p>By far the biggest collection of British newspapers is the one held by the 

British Library and happily a substantial slice of that collection can be read 

online at britishnewspaperarchive.co.uk. This is a pay site, though searches 

are free. A one-year subscription is just short of £80. (If you go to the Library 

itself in London, you can access the archive free.)</p>
<p>By no means the whole collection is digitised. In fact quite a few of the titles 

relied on in The News of Waterloo, such as the Courier (the biggest-selling 

paper in 1815), the Sun and the Morning Herald, can’t yet be read online and 

must be viewed at the Library. Check the catalogue for availability: if you want 

a paper that is only available in hard copy you will probably have to order in 

advance.</p>
<p>Superb though it is, the British Library collection is nothing like complete for 

1815. Alexander Andrews calculated in 1859 that in 1813 London had 56 

titles: I would say that fewer than half of those survive in this collection, and 

there are important gaps in the runs. (Many papers were lost when the 

depository was bombed in the Second World War.)</p>
<p>Notably absent, too, is the Times, which can be found, along with some 19th 

century periodicals, at the commercial pay site Gale NewsVault: 

<a href='http://gale.cengage.co.uk/product-highlights/general-reference/gale-historical-

newspapers/gale-newsvault.aspx'>http://gale.cengage.co.uk/product-highlights/general-reference/gale-historical-

newspapers/gale-newsvault.aspx</a>  You can find the Observer at the 

Guardian’s online archive: 

<a href='http://www.theguardian.com/info/2012/jul/25/digital-archive-notice'>http://www.theguardian.com/info/2012/jul/25/digital-archive-notice</a> There is a 

charge for this too.</p>
<p>Then there is the international online collection of NewspaperArchive, which 

claims to be the biggest in the world. It has good holdings for British papers of 

1815, including quite a few not in in britishnewspaperarchive.co.uk. For six 

months access the charge is just short of $100.</p>
<p>Even if you take all of these collections together, the papers available online 

and offline still probably amount to two-thirds at most of what was actually 

published. Sometimes it is possible to fill gaps by looking in other libraries or 

consulting private collections. In my experience you need luck and 

persistence.</p>
<p>If you have further guidance on how to trace newspapers from this period, let 

me know through the Contact page on this site.</p>
</div>