<head>
	<link rel='stylesheet' href='/BrianCathcart/css/post.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark2.png' alt='bookmark' style='margin-top: 3.85em;'></div>
<h2 id='title'>{{page.title}}</h2>

		<div class="post">
		  <header class="post-header">
		    <!--<h1 class="post-title">{{ page.title }}</h1>-->
		    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		  </header>

		  <article class="post-content">
		    {{ content }}
		  </article>
		</div>