      
<head>
	<link rel='stylesheet' href='/css/praise.css'>
</head>
      <div id='whatpeoplesay'>
        <h4 id='praise'>What people are saying</h4>
        <div id='quote1'><p>'Brian Cathcart's vastly entertaining narrative marries the scepticism of an investigative journalist with a dramatist's gift for suspense . . . How dull by comparison are our smug digital days where news comes - and goes - at the speed of light' </p>
        <p><span>– Sir Harold Evans, newspaper editor and author.</span></p>
       </div>

      <div id='quote2'>
      	<p>'Thrilling . . . fascinating . . . vivid . . . entertaining'</p>
      	<p><span>– Fives Stars from the <a href=' http://www.telegraph.co.uk/culture/books/bookreviews/11558359/The-News-from-Waterloo-the-Race-to-Tell-Britain-ofWellingtons-Victory-by-Brian-Cathcart.html'>Daily Telegraph.</a></span></p>
      </div>
      </div>