      
<head>
	<link rel='stylesheet' href='/BrianCathcart/css/praise.css'>
</head>
      <div id='whatpeoplesay'>
        <h4 id='praise'>What people are saying</h4>
        <div id='quote1'><p>'Brian Cathcart's vastly entertaining narrative marries the scepticism of an investigative journalist with a dramatist's gift for suspense. Four desperate men rowing a boat in the open sea! Post-chaises thundering along the country roads! How dull by comparison are our smug digital days where news comes - and goes - at the speed of light'</p>
        <p><span>– Sir Harold Evans, newspaper editor and author.</span></p>
       </div>

      <div id='quote2'>
      	<p>'A fascinating eye-opener into one of the most significant moments in British history, well researched and written in an exuberant style'</p>
      	<p><span>– Sir Tony Robinson, actor, author and presenter of TV's Time Team.</span></p>
      </div>
      </div>