<head>
	<link rel='stylesheet' href='/css/research.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Help the research</h2>

<div id='research'>
<p>Can you help increase our historical knowledge of these events?</p>
<p>I have been researching this subject for several years but I would never claim to have found 

everything that is relevant, nor to have got everything right.</p>
<p>If you have knowledge about it, or if you know of relevant historical sources not referred to in The 

News From Waterloo, I would be delighted if you would get in touch through the Contact page on 

this website.</p>
<p>And important new information comes to light I will include it in any revised new editions of the 

book, and incorporate it in this website – will full and due credit to those who have brought it to 

light.</p>
<p>Here are a few of the outstanding questions and gaps in knowledge about the news from Waterloo:</p>
<p></p>
<ul>
	<li>Do you know of the whereabouts of a copy of the Morning Post second edition of 20 June 1815? (I 

stress the second edition, which includes Daniel Sutton’s report from Ostend. A first edition is in 

the British Library collection.)</li>
	<li>Can you explain the story of the architect Charles Fowler, said to have brought the news?</li>
	<li>Do you have information about ‘Mr C of Dover’, or about the smuggler Robert Cook?</li>
	<li>Do you know of any descriptions of, or information specifically about, Henry Percy’s journey from 

Brussels to Ostend?</li>
	<li>There is said to be a print or painting of Percy in his post-chaise on the Dover Road. Do you own a 

copy or do you know of one?</li>
	<li>Can you shed any further light on the Rothschild legend?</li>
	<li>Do you know of any stories relating to the arrival of the news that are not already mentioned in the 

book or described on this website?</li>
	<li>Do you know anything more about the life of characters in the story such as Henry Percy, Daniel 

Sutton and the Boehms?</li>
</ul>
</div>