<head>
	<link rel='stylesheet' href='/css/research.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark2.png' alt='bookmark'></div>
<h2 id='title'>Help the research</h2>

<ul id='research'>
	<li><p>Saturday 2 May: I will be speaking at the Stratford-upon-Avon Literary Festival at 

5.30pm, on the subject of 'The News From Waterloo'. The venue is Stratford Arts 

House, Rother Street, CV37 6LU. Tickets are £10. Here is the relevant web page 

for bookings: http://stratfordartshouse.co.uk/whats-on/event/brian-cathcart-news-

waterloo/ And the phone number is 01789 207100.</p></li>
	<li><p>Wednesday 13 May: at 6.30pm in Muswell Hill Bookshop, 72 Fortis Green Road, 

London N10 3HN. I will talk about 'The News From Waterloo’. There is no charge. 

www.muswellhillbookshop.com.</p></li>
	<li><p>Saturday 6 June: I will be speaking about the book at the Wordswoth Trust’s

Jerwood Centre in Grasmere, Cumbria, as part of their ‘Wordsworth, War and 

Waterloo Day’. I’m one of four speakers (see here: 

https://wordsworth.org.uk/attend-events/2015/06/06/wordsworth-war-and-waterloo-

day.html) and the charge for the day is £25.</p></li>
</ul>