

<ul id='retailers' style='
width: 850px;
margin: 0 auto;
margin-top: 157em;'>
	<li style='display: inline; '><img id='order.png' src='/imgs/OrderNow_button.png' alt='button' style='
	margin-left: -1.7em;
	height: 7em;'></li>

	<li style='display: inline; padding-left: 2em'><img id='faber.png' src='/imgs/faber&faber.png' alt='faber'></li>

	<li style='display: inline; padding-left: 2em'><img id='amazon.png' src='/imgs/Amazon.png' alt='amazon' style='
	height: 3.3em;
	margin-top: .8em; '></li>
</ul>