

<ul id='retailers' style='
width: 700px;
margin: 0 auto;'>
	<li style='display: inline; '><img id='order.png' src='/BrianCathcart/imgs/OrderNow_button.png' alt='button' style='
	margin-left: -1.7em;
	height: 7em;'></li>

	<li style='display: inline; padding-left: 2em'><a href='http://www.faber.co.uk/shop/history/9780571315253-the-news-from-waterloo.html'><img id='faber.png' src='/BrianCathcart/imgs/faber&faber.png' alt='faber'></a></li>

	<li style='display: inline; padding-left: 2em'><a href='http://www.amazon.co.uk/dp/0571315259'><img id='amazon.png' src='/BrianCathcart/imgs/Amazon.png' alt='amazon' style='
	height: 3.3em;
	margin-top: .8em; '></a></li>
</ul>