<head>
	<link rel='stylesheet' href='/css/rothschild.css'>
</head>

<div id='nav'>
	<h1><a id='black' href='rothschild.html'>ROTHSCHILD</a> /<span> <a href='index.html'>The News from Waterloo</a></span></h1>
<div class='scroller-holder'>
	<img class='scroller' src='/imgs/scroll-round.png'>
</div>
</div>



<div class='intro' style='display: none;'>
	<h4>Introduction</h4>
	<p>Chapter Eight of The News From Waterloo begins:</p>
	<p>‘If there is one well-known fact about the news from Waterloo, it is that the first man in London to know of the victory was Nathan Mayer Rothschild, the founder of the British bank N. M. Rothschild and Sons. You can find this in histories both academic and popular, in novels both literary and romantic, in children’s books, reference books and business manuals, in films and television documentaries and on websites by the dozen. It has featured as a fact or a probable fact in Encyclopaedia Britannica and the Dictionary of National Biography as well as in histories of the City of London, of Jews and Judaism and, of course, of the Rothschild family and of Waterloo. Wellington’s most prominent biographer, Elizabeth Longford, repeated it in the 1970s, as did Niall Ferguson in recent works of financial history. The one-time CIA director Allen Dulles told the story in his 1963 book The Craft of Intelligence, and it also appears in a 2009 novel by Sebastian Faulks.</p>
	<p>‘In these many, many tellings the story has taken a great variety of forms, but most of them have in common two points: first, that Rothschild acquired exclusive word of the victory; and second, that he exploited it to make a fortune on the Stock Exchange. Since most versions also assert that he knew on Tuesday 20 June or even on Monday 19th, and since this narrative has reached Tuesday evening without mentioning him, the time has come to consider this.’</p>
	<p>The chapter goes on to show that these stories owe their currency mainly to unsavoury 19th century anti-Semitic writers, and that if we rely on contemporaneous evidence – what was written at the time – we have no grounds to believe that Rothschild knew of the victory on the Monday or Tuesday, nor that he was the first in London to receive the news. Equally, the suggestion that he made a fortune out of Waterloo is untrue, as is the often-repeated suggestion that he deliberately depressed the market with misinformation in order to increase his gains.</p>


	<h4>No evidence</h4>
	<p>The Rothschild-Waterloo legend is just that: a legend. And insofar as Nathan Rothschild deserves a place in the narrative of the news from Waterloo it is a relatively small place. He received a letter confirming the victory at about the same time as at least two other similar unofficial communications reached London (as well as three reporting a defeat), and almost certainly after authentic but again unofficial word of the victory had been published in three newspapers. It looks as though he had time to buy shares and make some money, but any profit he made was dwarfed by the gains of others who had bought the relevant stocks much earlier and cheaper.</p>
	<p>In short, there is no reliable evidence to suggest that Nathan Rothschild had any significant role in the story of the news from Waterloo, just as there is no reliable evidence to show that Waterloo had any particular role in the rise to wealth and prominence of the Rothschild family.</p>

	<h4>A chameleon story</h4>
	<p>What is surprising for any historian is the richness of the legend. All sorts of detail and inventiveness has been attached to it down the years. Hearsay, hoax and humble error play important parts, but it also has a chameleon quality: when circumstances change – for example when it was generally recognised that Rothschild could not have been at Waterloo in person, as had been claimed – it changes its colours to suit. It appears that some people want to believe the legend, whatever the evidence really shows.</p>
	<p>This part of the website looks at angles to this story for which there was insufficient space in The News From Waterloo. If you have information to add, please get in touch through the Contact page.</p>
</div>

<div id='box'></div>
{% include rothschild-stories.html %}

<div class='row'>
	<ul class='rowone' style='margin-top: 2em;'>
		<li style='background-color: #afc0a3; padding: 15px; box-shadow: 1px 1px 1px 1px; padding-top: 25px;'><p>The News From Waterloo debunks the widely known myth that the first man in London to know of 

		Wellington’s victory at Waterloo was Nathan Rothschild, founder of the bank N.M. Rothschild and 

		Sons, and that Rothschild used this exclusive knowledge to make a killing on the London Stock 

		Exchange.</p> 

		<p>Many details are in the book, but there is much more – not least because this myth has adopted 

		many forms over the years and there simply wasn’t room to tackle all of them without giving the 

		whole, half-baked story excessive prominence.</p> 

		<p>The pages explore further angles to the myth and look at the evidence or absence of evidence 

		behind them.</p></li>
		<li id='tileone'><img  src='/imgs/Nathan Rothschild (1).pdf'></li>
		<li id='tiletwo'><img src='/imgs/Nathan tile.png'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li></li>
		<li>Introduction to the myth</li>
		<li>Examples of the the myth</li>
	</ul>
</div>


<div class='row'>
	<ul class='rowtwo'>
		<li id='tilethree'><img src='/imgs/Carrier piegeon.png'></li>
		<li id='tilefour'><img src='/imgs/Shaving.jpg' style='width: 280px  ;'></li>
		<li id='tilefive'><img src='/imgs/Quote that never was 1.png'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>Pigeon post</li>
		<li>Urban legends</li>
		<li>The quote that wasn't</li>
	</ul>
</div>

<div class='row'>
	<ul class='rowthree'>
		<li id='tilesix'><img src='/imgs/Gallatin.png' style='height: 295px; width: 280px;'></li>
		<li id='tileseven'><img src='/imgs/Rider.png' style='transform: rotate(90deg);'></li>
		<li id='tileeight'><img src='/imgs/House of Rothschild.png'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>The hoax diary</li>
		<li>John Roworth</li>
		<li>The Hollywood movie</li>
	</ul>
</div>

<div class='row'>
	<ul class='rowfour'>
		<li id='tilenine'><img src='/imgs/Die Rothschilds.png' style='width: 320px; margin-left: -1em;'></li>
		<li><img src=''></li>
		<li><img src=''></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>The Nazi movie</li>
		<li></li>
		<li></li>
	</ul>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

