<head>
	<link rel='stylesheet' href='/BrianCathcart/css/rothschild.css'>
</head>

<div id='nav'>
	<h1><a id='black' href='rothschild.html'>ROTHSCHILD</a> /<span>Challenging the myth</span></h1>

	<ul class='shortcut'>
		<li id='back'><a>Home</a> /</li>
		<li><a>What is the myth?</a> /</li>
		<li><a>Examples of the myth</a> /</li>
		<li><a>Pigeon post</a> /</li>
		<li><a>Urban Legends</a></li>
		<li><a>The quote that wasn't</a> /</li>
		<li><a>The hoax diary</a> /</li>
		<li><a>John Roworth</a> /</li>
		<li><a>The Hollywood movie</a> /</li>
		<li><a>The Nazi movie</a> /</li>
	</ul>

</div>


<!--<div class='intro' style='display: none;'>
	<h4>Introduction</h4>
	<p>The News From Waterloo debunks the widely known myth that the first man in London to know of 

		Wellington’s victory at Waterloo was Nathan Rothschild, founder of the bank N.M. Rothschild and 

		Sons, and that Rothschild used this exclusive knowledge to make a killing on the London Stock 

		Exchange.</p> 

		<p>Many details are in the book, but there is much more – not least because this myth has adopted 

		many forms over the years and there simply wasn’t room to tackle all of them without giving the 

		whole, half-baked story excessive prominence.</p> 

		<p>The pages explore further angles to the myth and look at the evidence or absence of evidence 

		behind them.</p>
</div>-->

<div id='box'></div>
{% include rothschild-stories.html %}

<div class='row'>
	<ul class='rowone' style='margin-top: 2em;'>
		<!--<li style='background-color: #afc0a3; padding: 15px; box-shadow: 1px 1px 1px 1px; padding-top: 25px;'><p>The News From Waterloo debunks the widely known myth that the first man in London to know of 

		Wellington’s victory at Waterloo was Nathan Rothschild, founder of the bank N.M. Rothschild and 

		Sons, and that Rothschild used this exclusive knowledge to make a killing on the London Stock 

		Exchange.</p> 

		<p>Many details are in the book, but there is much more – not least because this myth has adopted 

		many forms over the years and there simply wasn’t room to tackle all of them without giving the 

		whole, half-baked story excessive prominence.</p> 

		<p>The pages explore further angles to the myth and look at the evidence or absence of evidence 

		behind them.</p></li>-->
		<li id='tileone'><img  src='/BrianCathcart/imgs/Optimized-Nathan Rothschild.png' style='zoom: 1.1;'></li>
		<li id='tiletwo'><img src='/BrianCathcart/imgs/Nathan tile.png'></li>
		<li id='tilethree' style='background-color: black;'><img src='/BrianCathcart/imgs/Carrier piegeon.png' style='zoom: .9; padding-top: 16px;'></li>
	</ul>
</div>

<div class='title'>
	<ul>
		<li>What is the myth?</li>
		<li>Examples of the the myth</li>
		<li>Pigeon post</li>
	</ul>
</div>


<div class='row'>
	<ul class='rowtwo'>
		<li id='tilefour'><img src='/BrianCathcart/imgs/Shaving.jpg' style='width: 280px  ;'></li>
		<li id='tilefive'><img src='/BrianCathcart/imgs/Quote that never was 1.png'></li>
		<li id='tilesix'><img src='/BrianCathcart/imgs/Gallatin.png' style='height: 295px; width: 280px;'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>Urban legends</li>
		<li>The quote that wasn't</li>
		<li>The hoax diary</li>
	</ul>
</div>

<div class='row'>
	<ul class='rowthree'>	
		<li id='tileseven'><img src='/BrianCathcart/imgs/Rider.png' style='transform: rotate(90deg);'></li>
		<li id='tileeight'><img src='/BrianCathcart/imgs/House of Rothschild.png'></li>
		<li id='tilenine'><img src='/BrianCathcart/imgs/Die Rothschilds.png' style='width: 320px; margin-left: -1em;'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>John Roworth</li>
		<li>The Hollywood movie</li>
		<li>The Nazi movie</li>
	</ul>
</div>

<!--<div class='row'>
	<ul class='rowfour'>
		<li><img src=''></li>
		<li><img src=''></li>
		<li><img src=''></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>-->



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

