<head>
  <link rel='stylesheet' href='/BrianCathcart/css/rothschild.css'>
</head>
<div id='nav'>
	<h1><a id='black' href='rothschild.html'>ROTHSCHILD</a> /<span>Challenging the myth</span></h1>

	<ul class='shortcut'>
		<li id='back'><a>Home</a>   /</li>
		<li><a href='what-is-the-myth.html'>What is the myth?</a>   /</li>
		<li><a href='examples-of-the-myth.html'>Examples of the myth</a>   /</li>
		<li><a href='pigeon-post.html'>Pigeon post</a>   /</li>
		<li><a>Urban Legends</a>   /</li>
		<li><a>The quote that wasn't</a>   /</li>
		<li><a>The hoax diary</a>   /</li>
		<li><a>John Roworth</a>   /</li>
		<li><a>The Hollywood movie</a>   /</li>
		<li><a>The Nazi movie</a></li>
	</ul>

</div>