<head>
	<link rel='stylesheet' href='/css/rothschild.css'>
</head>

<div id='nav'>
	<h1><a id='black' href='rothschild.html'>ROTHSCHILD</a> /<span> <a href='index.html'>The News from Waterloo</a></span></h1>
</div>

{% include rothschild-stories.html %}

<div class='row'>
	<ul style='margin-top: 2em;'>
		<li style='background-color: #afc0a3; padding: 15px; box-shadow: 1px 1px 1px 1px; padding-top: 25px;'><p>The News From Waterloo debunks the widely known myth that the first man in London to know of 

		Wellington’s victory at Waterloo was Nathan Rothschild, founder of the bank N.M. Rothschild and 

		Sons, and that Rothschild used this exclusive knowledge to make a killing on the London Stock 

		Exchange.</p> 

		<p>Many details are in the book, but there is much more – not least because this myth has adopted 

		many forms over the years and there simply wasn’t room to tackle all of them without giving the 

		whole, half-baked story excessive prominence.</p> 

		<p>The pages explore further angles to the myth and look at the evidence or absence of evidence 

		behind them.</p></li>
		<li class='rtm'><img  src='/imgs/Ferraris gibbet.png'></li>
		<li class='rwh'><img src='/imgs/Horwood Faber.png'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li></li>
		<li  >Read the myth</li>
		<li>John Roworth</li>
	</ul>
</div>


<div class='row'>
	<ul>
		<li><img src="/imgs/Horwood St James's Sq.png"></li>
		<li><img src='/imgs/Ferraris map battlefield.png'></li>
		<li><img src='/imgs/Ferraris map Ostend.png'></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>Lucien Wolf</li>
		<li>'Satan'</li>
		<li>Urban legends</li>
	</ul>
</div>


<div class='row'>
	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class='title'>
	<ul>
		<li>The movies</li>
		<li>Error and hoax</li>
		<li>An Elba theory</li>
	</ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src='/js/read-the-myth-story.js'></script>
<script src='/js/roworth-story.js'></script>
