<head>
  <link rel='stylesheet' href='/css/rothschild.css'>
</head>
<div id='nav'>
	<h1><a id='black' href='rothschild.html'>ROTHSCHILD</a> /<span>Challenging the myth</span></h1>

	<ul class='shortcut'>
		<li id='back'><a href='index.html'>Home</a>   /</li>
		<li><a href='what-is-the-myth.html'>What is the myth?</a>   /</li>
		<li><a href='examples-of-the-myth.html'>Examples of the myth</a>   /</li>
		<li><a href='pigeon-post.html'>Pigeon post</a>   /</li>
		<li><a href='urban-legends.html'>Urban Legends</a>   /</li>
		<li><a href='the-quote-that-wasnt.html'>The quote that wasn't</a>   /</li>
		<li><a href='the-hoax-diary.html'>The hoax diary</a>   /</li>
		<li><a href='john-roworth.html'>John Roworth</a>   /</li>
		<li><a href='the-hollywood-movie.html'>The Hollywood movie</a>   /</li>
		<li><a href='the-nazi-movie.html'>The Nazi movie</a></li>
		<li><a href='wellingtons-version.html'>Wellington's version</a></li>
	</ul>

</div>