<head>
  <link rel='stylesheet' href='/BrianCathcart/css/header.css'>
</head>
<div id='bookmark'><img src='/imgs/bookmark.png' alt='bookmark'></div>
<div class='sec-nav'>
  
  <ul>
    <li style='background-color: #00456e;'><a href='index.html'>Home</a></li> 
    <li><a href='about-the-book.html'>About the book</a></li>
    <li><a>Read a chapter</a></li>
    <li><a>The Waterloo Dispatch</a></li>
    <li><a>Buy the book</a></li>
    <li><a>The author</a></li>
    <li><a>Events</a></li>
  </ul>
</div>
