<head>
	<link rel='stylesheet' href='/css/rothschild.css'>
</head>

<div class='story'>
	<h4 style='margin-top: 2em;'>1. The Barber Shop</h4>
	<p>The following appeared in the Westminster Gazette of 16 April 1903,sent in by a Mr H. B. Hyde of Ealing:</p>
	<p>‘About 1860 Mr Robert Sutton told me how he had learned the news of our victory at Waterloo. He was being shaved and his barber came to him directly after shaving Mr Rothschild. He told Mr Sutton that while he was shaving Mr Rothschild the latter received a letter which he opened and read, and the barber did so too. It announced that we had beaten Bonaparte at Waterloo. Mr Sutton, who was half shaved, jumped up, wiped his face and ran to the Stock Exchange and did the best day’s business he ever did in his long life.’</p>
	<p>We know that Rothschild received a letter from Ghent on 21st June, and it seems that it arrived early enough for him to buy shares, so we can’t dismiss this story as entirely fictitious. On the other hand, this is an extremely feeble provenance: someone remembering a conversation that had taken place 43 years earlier with someone who was recalling an event 45 years before that date. Few historians would rely on such a tale.</p>
	<p>Can you shed any light on this tale? Let me know though the <a href='index.html'>Contact page</a>.</p>
	<h4>2. A Jew at Bexhill</h4>
	<p>This is from the Manchester Mail of 22 August 1892:</p>
	<p>‘More years ago than I care to confess, when I was a boy, I fell across Mr Russell, a well-known farmer at Bexhill, near Eastbourne. This gentleman was a very aged man, but in 1815 he was in the prime of life. One day, very stormy it was too, a boat landed a solitary passenger on the coast at Bexhill. This gentleman, evidently of Jewish race, asked if he could be driven to London before the morning.</p>
	<p>‘No one could do it. Seeing that the gentleman was much distressed, Mr Russell stepped forward and said he could drive him. ‘You shall have enough money to make you a rich man if you get me to London before dawn.’ It was done.</p>
	<p>‘This gentleman knew that Waterloo was won. Who this gentleman was, Mr Russell never would tell, but it is certain that the expedition benefited Mr Russell to the extend of not less than £10,000, besides presents in kind, which his descendants possess.’</p>
	<p>The Rothschild Archives in London have considerable holdings for 1815 and it is possible that this has been missed, but neither I nor the archivists are aware of any evidence to support the idea that Nathan Rothschild  paid or made substantial gifts to a farmer called Russell from Eastbourne or Bexhill.</p>
	<p style='padding-bottom: 3em;'>Again, if you can shed any light on this, please get in touch.</p>
</div>