     <head>
     	<link rel='stylesheet' href='/BrianCathcart/css/video.css'>
      <link rel='stylesheet' href='/BrianCathcart/css/footer.css'>
     </head>

      
      <div id='dispatchvideo'>
        <a name='linc'></a>
        <div id='the-dispatch'>
          <div id='the-dispatch-inner'>
            <iframe src="https://player.vimeo.com/video/124815365" width="1200" height="650px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/124815365">Hugh Grant reads The News From Waterloo</a> from <a href="https://vimeo.com/user39236393">Brian Cathcart</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          </div>
          <ul id='footer' style='margin-left: -2em; width: 1200px;'>

              <li><a href='e-ref.html'>E-references</a></li>
              <li><a href='more-stories.html'>More stories</a></li>
              <li><a href='rothschild.html'>Rothschild</a></li>
              <li><a href='hist.html'>Historic newspapers</a></li>
              <li><a href='research.html'>Help the research</a></li>

              <li><img id='twittericon' src='/BrianCathcart/imgs/Twitter-icon.png' alt='twitter' style='height: 2em;
              float: right;'>
              </li>

              <li><img id='facebookicon' src='/BrianCathcart/imgs/facebook-icon.png' alt='facebook' style='height: 1.8em;
              float: right;'>
              </li>

              <li><img id='youtubeicon' src='/BrianCathcart/imgs/youtube.png' alt='youtube'>
              </li>

              
              <li><img src='/BrianCathcart/imgs/mail.png' alt='email-icon' style='height: 17px;
              float: right;
              margin-right: 40px;
              padding-top: 2px;'></li>
              <li style='float: right; padding-right: 10px;'>Contact</li>


        </ul>
        </div>
        
      </div>
