<!DOCTYPE html>
<html>
  <div id='wrapper'>
    {% include head.html %}

    <body>

      {% include bookmark-header.html %}
      {% include e-ref-content.html %}
      {% include retailers.html %}
      {% include footer.html %}
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src='/js/smoothscroll.js'></script>
      <script src='/js/headercollapse.js'></script>

    </body>
  </div>
</html>